doctype html
html
  head
    title newsFlash
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="components/socket.io-client/dist/socket.io.min.js")
    script(src="/javascripts/script.js")
  body
    .container
      .header
        h1 newsflash
        small
          | newsFlash filters breaking news from the NYTimes API and feeds it into Twitter firehose. The outgoing stream represents the popularity of a particular news item. Each item is dynamically represented with circles, which grow and contract according to tweet volume. Socket.io updates items without the need to refresh the browser.
        small
          i
            | Last updated:
            span(id="last-update") Never
      ul
        each val, key in data
          li(data-symbol="#{key}")= key
