body {
  color: #333;
}
.header h1 {
  text-align: center;
  margin-bottom: 5px;
}
.header small {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
